/* General Styles */


.admin-navbar {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}

.admin-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.admin-ul li {
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

.admin-ul li a {
    color: lightgreen;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.admin-ul li a:hover {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
}

.admin-ul li a.active {
    background-color: transparent;
    color: lightgreen;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 0 lightgreen;
    border-radius: 5px;
    padding: 10px;
}

.admin-main {
    background-color: transparent;
    color: lightgreen;

}

.admin-main h1 {
    font-size: 2.2rem;
    margin:20px 0 0 25px;
}

.admin-main a {
    color: lightgreen;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.admin-main a:hover {
    color: #000;
}



body {
    background-color: black;
    color: lightgreen;
    margin: 0;
    padding-top: 20px;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: lightgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #ff6b6b;
}

.button a.active {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
   
}

.container {
    margin: 10px;
}



/* Index (Home) Page Hero Section */
.hero{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hero .hero-content h1{
    font-size: 3rem;
    font-weight: bold;
   
    
}

.hero .hero-content p{
    color: lightgreen;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
}

.hero-image{
    background-image: url("../images/hero-image.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color-burn;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-left: 3px solid lightgreen;
    border-right: 3px solid lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 10px 0;
    width: 100%;
    height: 50rem;
    text-align: center;
    position: relative;
    z-index: -1;
}

.hero-image-container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.hero-image-text{
    font-size: 2rem;
    font-weight: bold;
    color: lightgreen;
    text-align: center;
    top: 0;
    position: absolute;
    z-index: 1;
}

.index-container{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    width: 98%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

/* End of Index (Home) Page Hero Section */
/* Register and Login Pages */

.register-container{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    width: 98%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border-radius: 10px;
}


body.register,
body.login .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

body.register .form-container h2,
body.login .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

body.register form,
body.login form {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

body.register form input[type='text'],
body.register form input[type='email'],
body.register form input[type='password'],
body.login form input[type='text'],
body.login form input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: black;
}

body.register form input[type='submit'],
body.login form input[type='submit'] {
    width: 100%;
    padding: 14px;
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

body.register form input[type='submit']:hover,
body.login form input[type='submit']:hover {
    background-color: #ff6b6b;
}

body.register form label,
body.login form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #000;
}

body.register form label,
body.login form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #000;
}

body.register-link{
    color: lightgreen;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.create-user-container{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 98%;
    margin: 10px auto 20px auto;
    padding-bottom: 10px;
}

.user-form-container{
    /* background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb); */
    background-color: transparent;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.user-form-container form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: auto;
}

.user-form-container form input[type='text'],
.user-form-container form input[type='email'],
.user-form-container form input[type='password']{
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.user-form-container form input[type='submit']{
    width: 15rem;
    padding: 10px;
    margin-bottom: 20px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    background-color: #333;
   
}

.user-form-container form input[type='submit']:hover{
    background-color: lightgreen;
    color: lightgreen;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    border: 1px solid #000;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    text-align: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.user-form-container form label{
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    margin: 0 auto;
    padding: 5px 20px 5px 10px;
    

}


/* Footer */
footer {
    background-color: #000;
    color: lightgreen;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

.form-button{
    background-color: #333;
    color: lightgreen;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}   

.form-button:hover{
    background-color: #3600fb;
    color: lightgreen;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.form-button-delete{
    background-color: #333;
    color: lightgreen;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.form-button-delete:hover{
    background-color: red;
    color: lightgreen;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.form-container{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
}

h2.form-container {
    color: lightgreen;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

hr{
    width: 100%;
    height: 5px;
    background-color: lightgreen;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 98%;
}

.form-container input[type='text'],
.form-container input[type='email'],
.form-container input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: black;
}

h2{
    color: lightgreen;
    text-align: center;
}

h2.hero {
    color: lightgreen;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.login-container {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: lightgreen;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    opacity: 0.8;
    width: 98%;
}

.login-form-container{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form-container form label {
    font-size: 1.5rem;
    color: lightgreen;
    font-weight: bold;
    text-align: left;
    margin-left: 1.5em;
}

.login-form-container form input[type='text'],
.login-form-container form input[type='password'] {
    font-size: 1.5rem;
    font-weight: bold;
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.login-form-container form button[type='submit'] {
    width: 100%;
    padding: 14px;
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    border-radius: 5px;
    width: 75%;
    margin: 10px auto 0 auto;
}

.login-form-container form button[type='submit']:hover {
    background-color: lightgreen;
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-link{
    color: lightgreen;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-link:hover{
    color: #000;
}

/* Navigation */
.nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: #575757;
    color: white;
}

.nav ul li a.active {
    background-color: #575757;
    color: yellow;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

/* Notification Section */
.notification{
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0 20px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 97.25%;
    align-items: center;
}

.notification.success{
    background-color: #008000;
    color: #fff;
}

.notification.error{
    background-color: #ff0000;
    color: #fff;
}

.notification.warning{
    background-color: #ffa500;
    color: #fff;
}

.register-link a {
    color: lightgreen;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.register-link a:hover {
    color: #000;
}

.ul {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul li {
    margin: 0 10px;
}

.ul li a {
    display: block;
    color: lightgreen;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ul li a:hover {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    box-shadow: 0 0 10px 0 lightgreen;
    border-radius: 5px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.ul li a.active {
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    color: lightgreen;
    box-shadow: 0 0 10px 0 lightgreen;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Admin Page */

.user-table-container{
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    
}

.user-table-container h1{
    color: lightgreen;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 2rem;
}


.user-table{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    margin: 0 auto;
    width: 98%;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

}

.user-table body{
    background-color: #000;
}

.user-table th{
    background-color: #000;
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    padding: 10px;
   
}

.user-table thead{
   background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-table td{
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-table .td form input{
    background-color: #000;
    color: lightgreen;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

input[type="email"]{
    background-color: #000;
    color: lightgreen;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.user-table tr{
    background-image: linear-gradient(to right bottom, #070707, #19162f, #281e54, #3d2379, #58249f, #6320b2, #6e19c6, #7b0ad9, #7103e1, #6300e9, #5200f2, #3600fb);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}


.user-table tbody tr:hover td{
    background-color: lightgreen;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
}

.user-table tbody tr td a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}

.user-table tbody tr td a:hover{
    font-size: 1.5rem;
    font-weight: bold;
    color: lightgreen;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 lightgreen;
    text-decoration: underline;
    cursor: pointer;
}